@CHARSET "UTF-8";

.img {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.center {
	width: fit-content;
	height: auto;
	margin: 0 auto;
	/* border: 1px solid blue; */
}

body {
	background-image: url(../images/10.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	/* width: 100%; */
}

img {
	width: 600px;
	/* height:100%; */
}

.button {
	width: 85px;
	opacity: 0.9;
	height: 30px;
	background-color: #3aade4;
	border-radius: 12px 0;
	font-size: 18px;
	font-family: YouYuan;
}

.time {
	margin: 0 auto;
	height: 20px;
	width: 100px;
}