@CHARSET "UTF-8";

body {
	background-image: url(../images/3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.center {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 40%;
	top: 35%;
	margin: -60px 0px 0px -60px;
}

.img {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

img {
	width: 600px;
}

table td {
	font-size: 22px;
	color: #1077ca;
}

/*td {
	width: 50px;
	height: 40px;
	font-size: 18px;
	color: #1077ca;
}*/
.button {
	width: 60px;
	height: 35px;
	opacity: 0.6;
	border-radius: 12px 12px;
	font-size: 17px;
	background-color: #5798e8;
}

input:focus {
	border: 1px solid #f00;
	background: #fcc;
}