@CHARSET "UTF-8";

#table {
	width: 70%;
	border-collapse: collapse;
	margin: 0 auto;
}

#table thead th {
	background-color: rgb(143, 186, 191);
	color: #fff;
	border-bottom-width: 0;
}

/* Column Style */
#table td {
	color: #000;
}
/* Heading and Column Style */
#table tr, #table th {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(156, 186, 95);
}

/* Padding and font style */
#table td, #table th {
	padding: 5px 10px;
	font-size: 18px;
	font-family: Verdana;
	/* font-weight: bold; */
}

body {
	background-image: url(../images/20.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 629px;
	width: 1222px;
}

.center {
	width: inherit;
	position: absolute;
	/* margin: 0 auto; */
	top: 30%;
}